* {
	margin: 0;
	padding: 0;
	}
		
body{
	background-color: dimgray;
	}

a{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 23px; 
	color:grey; 
	text-decoration:none;
	}
a:visited{
	color:grey;
	}
a:hover{
	color:#fff; 
    opacity: 0.5;
	transition-duration: .5s;
	}
	
h1{
	list-style-type:none;
	font-family: 'Yanone Kaffeesatz', sans-serif;
    color:darkgrey;
	font-weight: 300;
	font-size: 45px; 
    text-align: center;
    padding-top: 30px;
	}

img {
    width:280px;
}

#container {
    width:700px; 
    margin:0 auto;
    margin-top:25px;   
    font-size:20px; 
		}

#image {
    float: left;
    width: 300;  
}

#text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 13px; 
	color:whitesmoke;
	text-decoration:none;
    text-align: left;
    float:right;
    width: 400px;
    margin-bottom: 50px;
}
	
footer {
    display:block;
	margin:auto;
	position:fixed;
    left: 3px;
    bottom:0px;
}
	

