* {
    margin: 0px;
    padding: 0px;
}

body{
	background-color:dimgray;
    margin-top: 175px;
    text-align: center;
}

p{ 
    font-family: 'Open Sans', san-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-family: 'Open Sans', san-serif;
    font-weight: 700;
    font-size: 106px;
    text-align: center;
    color: aliceblue;
}

h3 {
    font-family: 'Open Sans', san-serif;
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: aliceblue;
}

h4 {
    font-family: 'Open Sans', san-serif;
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    color: aliceblue;
}