* {
    margin: 0px;
    padding: 0px;
}

body{
	background-color:dimgray;
    margin-top: 200px;   
}

p{ 
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    color: aliceblue;
}

h1 {
    font-family: sans-serif;
    font-size: 150px;
    text-align: center;
    color: aliceblue;
    
}