* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/background.png);
    background-repeat: repeat;
    background-attachment: fixed;
    margin-bottom: 200px;
}

header {
    width: 100%;
    background-color: white;
    border-bottom-style: solid;
    border-bottom-color: rgba(26, 62, 104, 0.8);
    text-decoration: none;
    position: fixed;
}

header img {
    width: 160px;
    float: left;
    padding: 20px 15px 20px 25px;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 700;
    font-size: 25 px;
    color: #E5C44D;
    display: inline-block;
    padding-top: 10px;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: dimgrey;
    display: inline-block;
    padding-top: 20px;
}

#top h2 {
    margin: auto;
    border-top-style: none;
}



a {
    text-decoration: none;
    color: inherit;
}

.inner p {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 13px;
    margin: 1em 0;
    padding-left: 13em;
    text-align: left;
    max-width: 800px;
}

.inner a {
    color: #C99700;
    text-decoration: none;
}

.inner a:visited {
    color: #C99700;
}

.inner a:hover {
    color: black;
    opacity: 0.5;
    transition-duration: .5s;
}

.container {
    padding: 80px 100px 0px 0px;
    width: 700px;
}

.description {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin: 2em;
    text-align: left;
    margin-left: 12%;
    max-width: 980px;
}

.accordion h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #C99700;
    margin-left: 10%;
}

ul {
    list-style: none;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
}

ul .inner {
    padding-left: 3em;
    padding-right: 2em;
    overflow: hidden;
    display: none;
}

ul .inner.show {
    /*display: block;*/
}

ul li {
    margin: 0.5em 0;
}

ul li a.toggle {
    width: 75%;
    display: block;
    margin: auto;
    border-top: black;
    color: black;
    background: transparent;
    padding: .3em;
    border-top-style: double;
    border-color: darkgray;
    transition: background .3s ease;
}

ul li a.toggle:hover {
    color: rgba(26, 62, 104);
    text-decoration: none;
}



/* RESOURCES MENU */

.resources {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin: 0px 10px 0px 10px;
    background-color: white;
    /*-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #4D688C;*/
    display: inline-block;
    cursor: pointer;
    color: #335379;
    padding: 23px 20px;
    text-decoration: none;
    float: right;
    
}

.resources:hover {
    background-color: #335379;
    color: white;
}

.resources:active {
    position: relative;
    top: 1px;
}


/* VALIDATING HTML CSS */

footer a {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
}

footer a:hover {
    color: grey;
    opacity: 0.5;
    transition-duration: .5s;
}

footer {
    display: block;
    margin: auto;
    position: fixed;
    left: 3px;
    bottom: 0px;
}