@font-face { font-family: Proxima Nova; src: url('proximanova-regular.otf'); } 
@font-face { font-family: Proxima Nova; font-weight: black; src: url('proximanova-black.otf'); }

* {
	margin: 0;
	padding: 0;
	}

footer a{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
	font-size: 23px; 
	color:grey; 
	text-decoration:none;
	}
footer a:visited{
	color:grey;
	}
footer a:hover{
	color:#fff; 
    opacity: 0.5;
	transition-duration: .5s;
	}

footer {
    display:block;
	margin:auto;
	position:fixed;
    left: 3px;
    bottom:0px;
}
	

