@font-face { font-family: Proxima Nova; src: url('proximanova-regular.otf'); } 
@font-face { font-family: Proxima Nova; font-weight: black; src: url('proximanova-black.otf'); } 

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: ghostwhite;
    font-family: Proxima Nova, sans-serif;
    text-align: center;
    padding-top: 80px;
}

h1 {
    font-family: Proxima Nova, sans-serif;
    font-weight: black;
    font-size: 90px;
}

h2 {
    font-family: Proxima Nova, sans-serif;
    font-size: 60px;
}

fieldset {
    border: 0;
    }
    label {
    display: block;
    margin: 30px 0 0 0;
    }
    select {
    width: 200px;
    }
    .overflow {
    height: 200px;
    }

button {
    padding: 10px;
    margin-top: 25px;
    font-family: Proxima Nova, sans-serif;
}

a{
	color:grey; 
	text-decoration:none;
	}
a:visited{
	color:grey;
	}
a:hover{
	color:#fff; 
    opacity: 0.5;
	transition-duration: .5s;
	}

footer {
    display:block;
	margin:auto;
	position:fixed;
    left: 3px;
    bottom:0px;
    font-size: 13px;
}